<template>
<vs-card @click="redirect">
  <template #title>
    <h3>{{title}}</h3>
  </template>
  <template #img>
    <img v-bind:src="image" alt="">
  </template>
  <template #text>
    <p>
      {{text}}
    </p>
  </template>
  <template #interactions>
    <vs-button danger icon>
      <i class='bx bx-heart'></i>
    </vs-button>
    <vs-button class="btn-chat" shadow primary>
      <i class='bx bx-chat'></i>
      <span class="span">
        {{chat}}
      </span>
    </vs-button>
  </template>
</vs-card>
</template>

<script>
export default {
  props: ['title', 'text', 'chat', 'image'],
  methods:{
    redirect(){
      this.$router.push('/lists-purchased')
    }
  }
}
</script>

<style>

</style>
