<template>
<vs-dialog blur @close="handleClose" v-model="activeLoginDialog">
  <template #header>
    <h4 class="not-margin">
      Welcome to <b>Vuesax</b>
    </h4>
  </template>

  <div class="con-form">
    <vs-input v-model="username" placeholder="Email">
      <template #icon>
        @
      </template>
    </vs-input>
    <vs-input type="password" v-model="password" placeholder="Password">
      <template #icon>
        <i class='bx bxs-lock'></i>
      </template>
    </vs-input>
    <div class="flex">
      <vs-checkbox v-model="remember">Remember me</vs-checkbox>
    </div>
  </div>

  <template #footer>
    <div class="footer-dialog">
      <vs-button block @click="handleLoginClicked">
        Sign In
      </vs-button>
    </div>
  </template>
</vs-dialog>
</template>

<script>
export default {
  computed: {
    activeLoginDialog: {
      get() {
        return this.$store.state.activeLoginDialog
      },
      set(val) {
        this.$store.commit('set_activeLoginDialog', val)
      }
    },
    isAuthenticated: {
      get() {
        return this.$store.state.isAuthenticated
      },
      set(val) {
        this.$store.commit('set_isAuthenticated', val)
      }
    },
    loggedInUser: {
      get() {
        return this.$store.state.loggedInUser
      },
      set(val) {
        this.$store.commit('set_loggedInUser', val)
      }
    },
  },
  data: () => ({
    username: 'kc-00056',
    password: '123132123',
    remember: false,
  }),
  methods: {
    async handleLoginClicked() {
      // auth-nuxt post login
      try {
        await this.$auth.loginWith('local', {
          data: {
            username: this.username,
            password: this.password
          }
        }).then((response) => {
          if (response.data.status == 'success') {
            // Callback loggedIn
            this.isAuthenticated = true
            this.loggedInUser = this.$auth.user
            this.$emit('login-submitted')

            //Keep in Cookie
            // cookie.set('token', response.data.data.api_token)
          }
        })
      } catch (err) {
        console.log(err);
      }
    },
    handleClose() {
      // Callback close dialog
      this.$emit('close-dialog')
    }
  }
}
</script>
