<template>
<div class="hidden">
  <vs-navbar shadow center-collapsed v-model="active">
    <template #left>
      <vs-button @click="activeSidebar = !activeSidebar" flat icon>
        <i class='bx bx-menu'></i>
      </vs-button>
    </template>
    <template #right>
      <vs-button v-if="!isAuthenticated" flat @click="activeLoginDialog = !activeLoginDialog">
        เข้าสู่ระบบ
      </vs-button>

      <span v-else>
        <vs-button icon @click="logout">
        {{loggedInUser.data.username}} ออกจากระบบ
        </vs-button>
      </span>

    </template>
  </vs-navbar>
  <vs-sidebar absolute v-model="active" :open.sync="activeSidebar">
    <template #logo>
      <img src="https://kcmetalsheet.co.th/wp-content/uploads/2019/02/logo_test8.png" alt="RODTANK หลังคาเหล็ก ตรา รถถัง | K.C. METAL SHEET PUBLIC CO.,LTD" id="logo" data-height-percentage="54" data-actual-width="148" data-actual-height="80">
    </template>

    <vs-sidebar-item id="home" to="/">
      <template #icon>
        <i class='bx bx-home'></i>
      </template>
      Home
    </vs-sidebar-item>

    <vs-sidebar-item id="Donate" to="/request-price">
      <template #icon>
        <i class='bx bxs-donate-heart'></i>
      </template>
      การขอราคา
    </vs-sidebar-item>

    <vs-sidebar-item id="shopping" to="/products">
      <template #icon>
        <i class='bx bxs-shopping-bags'></i>
      </template>
      สินค้าตามหมวดหมู่
    </vs-sidebar-item>

    <vs-sidebar-item id="Purchase" to="/lists-purchased">
      <template #icon>
        <i class='bx bxs-purchase-tag'></i>
      </template>
      รายการสั่งซื้อ
    </vs-sidebar-item>

    <vs-sidebar-item id="Market" to="/payment-receipt">
      <template #icon>
        <i class='bx bxs-grid-alt'></i>
      </template>
      การชำระเงินและใบเสร็จ
    </vs-sidebar-item>

    <vs-sidebar-item id="Notification" to="/notification">
      <template #icon>
        <i class='bx bxs-bell-ring'></i>
      </template>
      การแจ้งเตือน
    </vs-sidebar-item>

    <vs-sidebar-item id="Setting" to="/setting">
      <template #icon>
        <i></i>
      </template>
      การตั้งค่า
    </vs-sidebar-item>

    <template #footer>
      <vs-row justify="space-between">
        <vs-avatar>
          <img data-v-0d12268c="" src="https://profile.line-scdn.net/0h1JVrdChCbmVrC0ZJjfgRMldOYAgcJWgtEz0mAUYCY1FDPyg3VmR0UU8COV1BOy9gUWwlA0kLMgVE">
        </vs-avatar>

        <vs-avatar badge-color="danger" badge-position="top-right">
          <i class='bx bx-bell'></i>

          <template #badge>
            28
          </template>
        </vs-avatar>
      </vs-row>
    </template>
  </vs-sidebar>
  <LoginDialog @login-submitted="handleLoginFormSubmitted" />
</div>
</template>

<script>
import LoginDialog from '~/components/LoginDialog.vue'

export default {
  computed: {
    activeSidebar: {
      get() {
        return this.$store.state.activeSidebar
      },
      set(val) {
        this.$store.commit('set_activeSidebar', val)
      }
    },
    activeLoginDialog: {
      get() {
        return this.$store.state.activeLoginDialog
      },
      set(val) {
        this.$store.commit('set_activeLoginDialog', val)
      }
    },
    isAuthenticated: {
      get() {
        return this.$store.state.isAuthenticated
      },
      set(val) {
        this.$store.commit('set_isAuthenticated', val)
      }
    },
    loggedInUser: {
      get() {
        return this.$store.state.loggedInUser
      },
      set(val) {
        this.$store.commit('set_loggedInUser', val)
      }
    },
  },
  components: {
    LoginDialog,
  },
  mounted() {
    // this.statusLogin = $nuxt.$auth.loggedIn != null ? $nuxt.$auth.loggedIn : false
  },
  data: () => ({
    active: 'home',
    // statusLogin: false
  }),
  methods: {
    handleLoginFormSubmitted() {
      // this.statusLogin = $nuxt.$auth.loggedIn != null ? $nuxt.$auth.loggedIn : false
      this.activeLoginDialog = false
    },
    logout() {
      this.isAuthenticated = false
      this.loggedInUser = null
      localStorage.clear()
      $nuxt.$auth.logout()
      // this.statusLogin = false
    }
  },
}
</script>
