<template>
<div>
  <div class="container">
    <vs-row justify="center">
      <vs-col w="1">
      </vs-col>
    </vs-row>
    <vs-row align="center" justify="center">
      <vs-col w="10">
        <h1 v-if="error.statusCode === 404">Page not found</h1>
        <h1 v-else>An error occurred</h1>
        <NuxtLink to="/">Home page</NuxtLink>
      </vs-col>
    </vs-row>
    <vs-row align="flex-end" justify="center">
      <vs-col w="1">
      </vs-col>
    </vs-row>
  </div>
</div>
</template>

<script>
export default {
  props: ['error'],
  layout: 'error' // you can set a custom layout for the error page
}
</script>
