<template>
<div>
  <vs-card-group>
    <ul v-for="(card, index) in cards" :key="index">
      <Card :title="card.title" :text="card.text" :chat="card.chat" :image="card.image" />
    </ul>
  </vs-card-group>
  <vs-card-group>
    <ul v-for="(card, index) in cards" :key="index">
      <Card :title="card.title" :text="card.text" :chat="card.chat" :image="card.image" />
    </ul>
  </vs-card-group>
</div>
</template>

<script>
import Card from '~/components/Card.vue'

export default {
  components: {
    Card,
  },
  data() {
    return {
      cards: [{
          id: 1,
          title: 'แผ่นหลังคาโปร่งแสง',
          text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ',
          chat: 54,
          image: "https://kcmetalsheet.co.th/wp-content/uploads/2018/12/แผ่นใส.png",
        },
        {
          id: 2,
          title: 'หลังคาออนดูลีน',
          text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ',
          chat: 54,
          image: "https://kcmetalsheet.co.th/wp-content/uploads/2019/02/หลังคาออนดูลีน.png",
        },
        {
          id: 3,
          title: 'ลูกหมุนระบายอากาศ',
          text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ',
          chat: 54,
          image: "https://kcmetalsheet.co.th/wp-content/uploads/2018/12/ลูกหมุนระบายอากาศ.png",
        },
        {
          id: 4,
          title: 'หลังคาเมทัลชีท',
          text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ',
          chat: 54,
          image: "https://kcmetalsheet.co.th/wp-content/uploads/2019/02/หลังคาเมทัลชีท.png",
        },
        {
          id: 5,
          title: 'ฉนวน P.E',
          text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ',
          chat: 54,
          image: "https://kcmetalsheet.co.th/wp-content/uploads/2018/12/ฉนวน-PE.png",
        },
        {
          id: 6,
          title: 'ฉนวนร็อควู',
          text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ',
          chat: 54,
          image: "https://kcmetalsheet.co.th/wp-content/uploads/2018/12/ฉนวนร็อควู.png",
        }
      ]
    }
  },
}
</script>
