<template>
<div class="center">
  <LoginDialog @login-submitted="handleLoginFormSubmitted" @close-dialog="handleCloseLoginForm"/>
</div>

</template>

<script>
import LoginDialog from '~/components/LoginDialog.vue'

export default {
  components: {
    LoginDialog,
  },
  computed: {
    activeLoginDialog: {
      get() {
        return this.$store.state.activeLoginDialog
      },
      set(val) {
        this.$store.commit('set_activeLoginDialog', val)
      }
    },
  },
  mounted() {
    this.statusLogin = $nuxt.$auth.loggedIn != null ? $nuxt.$auth.loggedIn : false
    if(!this.statusLogin){
      this.activeLoginDialog = true
    }
  },
  data: () => ({
    statusLogin: false
  }),
  methods: {
    handleLoginFormSubmitted() {
      this.statusLogin = $nuxt.$auth.loggedIn != null ? $nuxt.$auth.loggedIn : false
      this.activeLoginDialog = false
      this.$router.replace({ name: 'request-price' })
      // window.location.reload()
    },
    handleCloseLoginForm(){
      this.$router.go(-1)
    }
  },
}
</script>
