<template>
<div class="center">
  Request-Price
  <vs-alert closable warn v-model="activeAlert">
    <template #title>
      แจ้งเตือน
    </template>
    {{alert}}
  </vs-alert>
</div>
</template>

<script>
import * as api from '@/utils/repository'

export default {
  middleware: 'auth',
  mounted() {
    if (this.$auth.loggedIn) {
      this.handleGetRequestPrices()
    }
  },
  methods: {
    async handleGetRequestPrices() {
      const loading = this.$vs.loading({
        type: ['points']
      })
      try {
        await api.getSellRequest(this.$auth.user.data.id)
          .then((res) => {
            if (res.data.status == 'success') {
              this.sellrequest = res.data.data
              console.log(this.sellrequest)
              loading.close()
            } else if (res.data.status == 'failed') {
              this.alert = res.data.message
              this.activeAlert = true
              loading.close()
            }
          })
      } catch (error) {
        console.log(error)
        loading.close()
      }
    },
  },
  data: () => ({
    sellrequest: [],
    alert: '',
    activeAlert: false,
  })
}
</script>

<style>

</style>
